<section id='aboutus' class='aboutus'>
	<div class='container'>
		<h2 class='fw-bold'>About Us</h2>
		<p class='mb-4'>
			At Alt4, we transform bold ideas into high-performing software. Our tight-knit team blends deep technical
			expertise with a relentless commitment to quality, ensuring every project embodies our four core
			pillars—Adaptability, Collaboration, Efficiency, and Quality. From strategy to deployment, we partner with clients
			to deliver solutions that drive growth, streamline operations, and secure a competitive edge in the ever-evolving
			digital landscape.
		</p>
		<br />
		<h3 class='fw-bold'>Meet our team</h3>
		<div class='row justify-content-center'>
			<div class='col-md-4 mb-3'>
				<div class='p-3 border rounded'>
					<h5 class='fw-bold'>Daniel</h5>
					<p>CEO</p>
					<p class='small'>Our visionary, ensuring our solutions align with your business goals.</p>
				</div>
			</div>
			<div class='col-md-4 mb-3'>
				<div class='p-3 border rounded'>
					<h5 class='fw-bold'>Rui</h5>
					<p>COO</p>
					<p class='small'>Our operational guru, keeping processes smooth and efficient.</p>
				</div>
			</div>
			<div class='col-md-4 mb-3'>
				<div class='p-3 border rounded'>
					<h5 class='fw-bold'>Ramon</h5>
					<p>CTO</p>
					<p class='small'>Our tech expert, leading the development with cutting-edge solutions.</p>
				</div>
			</div>
		</div>
	</div>
</section>