<nav class="navbar navbar-expand-md navbar-light sticky-top">
	<div class="container-fluid">

		<a class="navbar-brand d-flex align-items-center" href="#">
			<img src="/logo-black.png" alt="Alt4 Logo" id="alt4-logo" height="40" class="me-2" />
		</a>


		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>


		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item mx-2">
					<a class="nav-link" href="#hero">Home</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="#aboutus">About Us</a>
				</li>
				<li class="nav-item mx-2">
					<a class="nav-link" href="#services">Our Services</a>
					{{!--
				</li>
				<a class="nav-link" href="#clients">Clients</a>
				</li> --}}
				<li class="nav-item mx-2">
					<a class="nav-link" href="#contact">Contact</a>
				</li>

				<li class="nav-item mx-2 d-flex align-items-center">
					<button class="btn btn-sm btn-primary" id="themeSwitchBtn" aria-label="Switch Theme">
						<i class="fas fa-adjust"></i>
					</button>
				</li>

				{{!-- <li class="nav-item mx-2 dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<i class="fas fa-globe"></i> EN
					</a>
					<ul class="dropdown-menu" aria-labelledby="languageDropdown">
						<li><a class="dropdown-item" href="#" onclick="switchLanguage('en')">English</a></li>
						<li><a class="dropdown-item" href="#" onclick="switchLanguage('pt')">Português</a></li>
					</ul>
				</li> --}}
			</ul>
		</div>
	</div>
</nav>
