<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Alt4 Team</title>

	<link href="/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/index.css" />

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Alt4 Team">

	<meta property="og:title" content="Alt4 Team">
	<meta property="og:description" content="">
	<meta property="og:image" content="https://alt4.team/logo-black.png">
	<meta property="og:url" content="https://alt4.team">
	<meta property="og:type" content="website">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Alt4 Team">
	<meta name="twitter:description" content="">
	<meta name="twitter:image" content="https://alt4.team/logo-black.png">

	<link rel="canonical" href="https://alt4.team">

	<meta name="robots" content="index, follow">

	<script type="application/ld+json">
	{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Alt4 Team",
			"url": "https://alt4.team",
			"description": "",
			"publisher": {
					"@type": "Organization",
					"name": "Alt4 Team"
			}
	}
	</script>
</head>

<body class="light-theme">
	<div id="loader">
		<div id="circles">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	{{{body}}}

</body>

</html>